.row
	.col-xs-12.col-md-8.col-md-offset-2
		%h1 ALL JOBS
		= link_to "Creat a new job", new_job_path, class: "btn btn-primary"
		%hr
		- @jobs.each do |job|
			%h2= link_to (job.title).upcase , job
			%p= job.description
			%p= link_to job.company.capitalize, job.url, target: "blank"
			%hr

