#jobs
	- if @category.blank?
		%h1 All Jobs
	- else
		%h1= @category.name + " " + "Job".pluralize( @jobs.length)
	.job
		- @jobs.each do |job|
			%h2= link_to (job.title).upcase , job
			%p= job.description
			%p= link_to job.company.capitalize, job.url, target: "blank"
			%hr

