.row
	.col-xs-12.col-md-8.col-md-offset-2
		%h1 ALL JOBS
		%hr
		- @jobs.each do |job|
			%h2= link_to (job.title).upcase , job
			%p= job.description
			%p= link_to job.company.capitalize, job.url, target: "blank"
			%hr

